<!DOCTYPE html>
<html lang='en-US'>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title></title>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title></title>
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/poppins" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons-wind.min.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/jas-carousel.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous">

    </script>

    <style>
        html,
        body {

            width: 100%;
            height: 100%;
            user-select: none;
        }

        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        body {
            font-family: 'poppinsbold', 'roboto', sans-serif !important;
        }

        .container-fluid {
            padding: 0 !important;
        }

        * {

            box-sizing: border-box;
            margin: 0;
        }

        nav {
            position: fixed !important;
            width: 100%;
            overflow: hidden;
            font-size: 20px;
            background: url(img/Sydney_Opera_House_in_Sydney_Australia_4K_Wallpaper.jpg);
            z-index: 99;
            text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.4);

        }

        nav.nav-item {
            padding-right: 80px !important;

        }

        nav .nav-item:nth-child(4) {

            border-bottom-right-radius: 20px;
            border-top-left-radius: 20px;
            border: 2px solid #1acbf3;
            padding: 2px;

        }

        .navbar-nav .nav-item {
            padding-right: 20px;
        }

        main,
        section {
            width: 100%;
            height: 100%;
            margin: 0;
        }

        section {
            background: white;

        }

        main {
            background: url('img/Sydney_Opera_House_in_Sydney_Australia_4K_Wallpaper.jpg');
            background-attachment: fixed;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            display: flex !important;
            justify-content: center;
            align-items: center;
            overflow: hidden !important;
        }

        main:before {
            content: '';
            background: inherit;
            position: absolute;

            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            /* box-shadow: inset 0 0 0 3000px rgba(255, 255, 255, 0.3); */
            filter: blur(10px);
            opacity: 1;
        }


        main .main-content {
            background: inherit;
            width: 75%;
            height: 800px;
            position: relative;
            overflow: hidden;
            padding: 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        main .main-primaryline {
            text-transform: uppercase;
            word-spacing: 15px;
            font-size: 60px;
            font-weight: bolder;
            color: white;
            line-height: 65px;
            filter: blur(0px);
            text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7);
            text-align: center;
        }

        i {
            text-transform: uppercase;

        }

        main .main-secondaryline {
            font-size: 20px;
            text-align: center;
            padding: 10px;
            color: white;
            filter: blur(0);
            font-family: 'poppinslight';
        }

        main .main-two-buttons {
            width: 40%;
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 40px;
        }

        main .main-two-buttons button {
            width: 40%;
            height: 100%;
            padding: 0px;
            border-radius: 20px 0 20px 0;
            text-transform: capitalize;
            font-size: 20px;
            font-weight: bolder;
        }

        main .main-two-buttons button a {
            display: block;
            width: 100%;
            height: 100%;
            color: white;
            padding: 10px;
        }

        main .main-two-buttons button:nth-child(1) {
            background: #1acbf3;
            border: 4px solid white;
        }

        main .main-two-buttons button:nth-child(1):hover {
            background: white;
            border: 4px solid #1acbf3;
        }

        main .main-two-buttons button:nth-child(1):hover a {
            color: #1acbf3;
            text-decoration: none;
        }

        main .main-two-buttons button:nth-child(2) {
            background: white;
            border: 4px solid #1acbf3;
        }

        main .main-two-buttons button:nth-child(2) a {
            color: #1acbf3;
        }

        main .main-two-buttons button:nth-child(2):hover {
            background: #1acbf3;
            border: 4px solid white;
        }

        main .main-two-buttons button:nth-child(2):hover a {
            color: white;
            text-decoration: none;

        }

        form {
            width: 60%;
            height: 10%;
            font-family: 'poppinslight';
        }


        form .input-group {
            height: 100%;
            box-shadow: 2px 2px 16px 4px rgba(255, 255, 255, 0.7);
            border-top-left-radius: 40px;
            border-bottom-right-radius: 40px;
        }

        form .input-group .input-group-prepend {
            border: 4px solid white;
            border-right: 0;
            border-top-left-radius: 40px;
            overflow: hidden;
        }

        form .input-group input,
        form .input-group input:focus {
            background: rgba(255, 255, 255, 0.2);
            color: white;
            outline: none;
            height: 100% !important;
            font-size: 30px;
            text-transform: capitalize;
            border: 4px solid white;
            font-family: 'poppinsbold';
        }

        form .input-group input:focus {
            background: white;
            color: #1acbf3;
        }

        form .input-group .input-group-text {
            background: rgba(255, 255, 255, 0.2);
            color: white;
            font-size: 30px;
        }



        form .input-group button {
            background: #1acbf3;
            margin-left: 4px;
            font-size: 20px;
            font-weight: bold;
            border: 4px solid white;
            border-bottom-right-radius: 40px;
        }

        @media (max-width:920px) {
            form .input-group button span.button-text {
                display: none;
                visibility: hidden;

            }

            form .input-group button {
                font-size: 30px;
            }

        }

        ::-webkit-input-placeholder {
            color: white !important;
        }



        section {
            width: 100%;
            position: relative;
            margin-bottom: 200px !important;
        }

        section .main-bottom {
            width: 60%;
            position: absolute;
            left: 20%;
            top: -8%;
            border-radius: 40px 0 40px 0;
            background: linear-gradient(45deg, #1acbf3, #13abce);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;
            box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.4),
                20px 20px 20px 5px rgba(0, 0, 0, 0.2);
            text-align: center;
            padding: 20px;
        }


        section .main-bottom .main-bottom-text {
            font-size: 15px;
        }

        section .main-bottom .main-bottom-head {
            font-size: 30px;
        }

        section .main-bottom hr {
            width: 40%;
            height: 5px;
            background-color: white;
        }

        section .section-content {
            width: 100%;
            position: relative;
        }


        section .section-content .row {
            position: relative;
            top: 230px;
            left: 0;
            width: 100%;
            display: flex;
            justify-content: space-evenly;

        }

        section .section-content .row>div {
            margin: 10px;
            height: 340px;
            border-radius: 40px 0 40px 0;
            color: white;
            text-align: center;
            text-transform: capitalize;
            position: relative;
            overflow: visible;
            border: 8px solid white;
            box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.3);
        }

        .section-content .row>div:nth-child(1) {
            background: url(img/San_Antonio_River_Walk_in_Texas_Beautiful_Pic.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            display: flex !important;
            justify-content: center;
            align-items: center;

        }

        section .section-content .row>div:nth-child(2) {

            background: url(img/Beautiful_Venice_City_in_Italy_HD_Wallpaper.jpg);

            background-size: cover;
            background-repeat: no-repeat;
            display: flex !important;
            justify-content: center;
            align-items: center;

        }

        section .section-content .row>div:nth-child(3) {
            background: url(img/Cologne_Cathedral_in_City_Cologne_of_Germany_Wallpaper.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            display: flex !important;
            justify-content: center;
            align-items: center;

        }

        section .section-content .row div .col-cover {
            position: absolute;
            width: 80%;
            background: #1acbf3;
            bottom: -25%;
            padding: 20px;
            border-radius: 20px 0 20px 0;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        section .section-content .row div .col-cover .col-heading {
            font-size: 25px;
        }


        article {
            width: 100%;
            height: auto;
            margin-bottom: 150px !important;
        }

        .card-slider-header {
            color: white;
            border: 4px solid white;
            box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.5);
            text-align: center;
            font-size: 60px;
            background: #1acbf3;
        }

        .slider {
            margin-top: 50px !important;
        }

        .card {
            width: 100%;
            height: 100%;
            box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.2),
                4px 4px 14px 4px rgba(0, 0, 0, 0.1);
            ;

        }

        .card .card-img-top {
            width: 100%;
            height: 70%;
        }

        .card .card-body {
            height: 30%;
            padding: 0;
        }

        .card .card-img-overlay {
            width: 100%;
            height: 70%;
            padding: 20px;
            color: white;
            text-align: center;
        }

        .card .card-img-overlay .temp {
            font-size: 120px;
            font-family: 'Poppinsbold', sans-serif;
        }

        .card .card-img-overlay .city {
            position: relative;
            left: -20px;
            font-size: 30px;
            font-weight: bolder;
            font-family: 'Poppinslight';
        }

        .card .card-body .row1 {
            height: 100%;
            width: 100%;
            display: flex;
        }

        .card .card-body .row1 .col1 {
            width: 20%;
            height: 100%;
            display: flex;
            flex-direction: column;
            background: rgba(0, 0, 0, 0.08);
            font-size: 15px;
            font-family: 'Yanone Kaffeesatz' !important;
        }
      
        .card .card-body .row1 .col1 span {
            height: 33.33%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .card .card-body .row1 .col1 span:nth-child(2),
        .card .card-body .row1 .col1 span:nth-child(3)
         {
            color: blueviolet;
            font-size: 28px;
        }

        .activecol1 {
            background: white !important;
        }

        .blurry {
            opacity: 0.4;
        }

        .article-section-bw {
            width: 100%;
            height: 200px;
            background: black;
            display: flex;
            align-items: center;
            justify-content: space-between;
            box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.5);

        }

        .article-section-bw span:nth-child(1),
        .article-section-bw span:nth-child(3) {
            width: 30%;
            height: 100%;
            background: url(img/pup.png);

            background-size: cover;
            background-position: center center;
        }

        .article-section-bw span:nth-child(3) {
            transform: scalex(-1);
        }

        .article-section-bw span:nth-child(2) {
            font-size: 30px;
            color: rgba(255, 255, 255, 0.7);
            text-transform: capitalize;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .article-section-bw span:nth-child(2) a {
            color: white;
            width: 120px;
            background: transparent;
            border: 4px solid white;
            padding: 10px;
            font-size: 20px;
            text-align: center;
            border-radius: 20px 0 20px 0;
        }

        .article-section-bw span:nth-child(2) a:hover {
            text-decoration: none !important;
            border-color: #1acbf3;
            color: #1acbf3;
        }

        footer {
            width: 100%;
            height: 250px;
            background: black;
            position: relative;
        }

        footer .footer-rest {
            position: absolute;
            top: 0;
            width: 100%;
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        footer .footer-rest .footer-icons {
            color: white !important;
            font-size: 35px;
            margin-bottom: 10px;
        }

        footer .footer-rest .footer-icons button {
            border-radius: 50%;
            background: #1acbf3;

            color: White !important;
        }

      

        footer .footer-rest .footer-menu a {
            color: white !important;
            padding: 0 10px;
        }


        footer .footer-foot {
            width: 100%;
            height: 30%;
            bottom: 0;
            background: #1acbf3;
            position: absolute;
            text-align: center;
            color: white;
            text-transform: uppercase;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        footer .footer-foot .footer-major-text {
            font-size: 30px;
        }
    </style>
    <link rel="stylesheet" href="css/jas-carousel.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous">

    </script>
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/poppins" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons-wind.min.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css" />

    <script src="js/jas-carousel.js"></script>
 
</head>

<body>
    <div class="container-fluid">


        <nav class="navbar navbar-expand-sm  justify-content-between">
            <a class="navbar-brand text-white" href="javascript:void(0)" style="font-size:40px;">Web<span
                    style="color:#1acbf3;">App</span></a>
            <ul class="navbar-nav">

                <li class="nav-item "><a class="nav-link text-white " href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link  text-white" href="/about">About</a></li>
                <li class="nav-item"><a class="nav-link  text-white" href="/help">Help</a></li>
                <li class="nav-item"><a class="nav-link  text-white" href="javascript:void(0)">Get App</a></li>

            </ul>
        </nav>
    </div>
    <main>
        <div class="main-content">
            <div class="main-primaryline">Discover the <span style="color:#1acbf3;">weather</span> <br>in your area
            </div>
            <div class="main-secondaryline">The best way to find weather in you area.</div>
            <div class="main-two-buttons">
                <button type="button" class="btn button1"><a href="">Your City</a></button>
                <button type="button" class="btn button2" href="#big-cities"><a>Big Cities</a></button>
            </div>
            <form>
                <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-search"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Enter Location..">
                    <button type="submit" class="btn text-white"><span class="button-text">Get
                            Updates</span><span class="button-image">&nbsp;<i class="fa fa-search"></i></span></button>
            </form>
        </div>
    </main>

    <section>
        <div class="main-bottom">
            <br>
            <span class="main-bottom-head">HEADING FOR HERE</span>
            <hr>
            <span class="main-bottom-text">Lorem ipsum is perferendis reprehenderit, ducimus dolorum odit ut impedit
                reiciendis neque nobis eligendi molestias officiis repellendus fugas!</span>
            <br>
        </div>
        <div class="section-content">
            <div class="row">
                <div class="col-md-3">
                    <div class="col-cover"><span class="col-heading">HEDING</span>
                        <hr color="white" style="width:40%;"><span class="col-text">yosadsa asdasd shsajdss
                            sidhflksdfsakfsklsdjfsd</span> </div>
                </div>
                <div class="col-md-3">
                    <div class="col-cover"><span class="col-heading">HEDING</span>
                        <hr color="white" style="width:40%;"><span class="col-text">yodsasd asfdasdashsajdss
                            sidhflksdfsakfsklsdjfsd</span></div>
                </div>
                <div class="col-md-3">
                    <div class="col-cover"><span class="col-heading">HEDING</span>
                        <hr color="white" style="width:40%;"><span class="col-text">yosadas asdasdasshsajdss
                            sidhflksdfsakfsklsdjfsd</span></div>
                </div>
            </div>
        </div>
    </section>
    <div class="article-section-bw">
        <span></span>
        <span>know more about the creator<br><br><a href="javascript:void(0)">GO</a></span>
        <span></span>
    </div>
    <article id="big-cities">
        <div class="card-slider-header">
            BIG CITIES
        </div>
        <ul class="slider">
            <li>
                <div class="card" id="moscowcard">
                    <img class="card-img-top" src="img/Red_Square_Plaza_in_Moscow_Russia_Tourist_Place_Wallpaper.jpg"
                        alt="Card image">
                    <div class="card-img-overlay"><span class="temp">21&deg;</span><br><span class="city">MOSCOW</span>
                    </div>
                    <div class="card-body">
                        <div class="row1">
                            <div class="col1">
                                <span>Rain</span>
                                <span>31&deg;</span>
                            </div>
                            <div class="col1">
                                <span>Humidity</span>
                                <span>31&deg;</span>
                            </div>
                            <div class="col1 activecol1">
                                <span>Temp.</span>
                                <span></span>
                                <span>31&deg;</span>
                            </div>
                            <div class="col1">
                                <span>Wind</span>
                                <span>31&deg;</span>
                            </div>
                            <div class="col1">
                                <span>Visibility</span>
                                <span>31&deg;</span>
                            </div>

                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="card">
                    <img class="card-img-top" src="img/Vernazza_Italy_Town_HD_Wallpapers.jpg" alt="Card image">
                    <div class="card-img-overlay"><span class="temp">21&deg;</span><br><span class="city">VENICE</span>
                    </div>
                    <div class="card-body">
                        <div class="row1">
                            <div class="col1">
                                <span>Rain</span>
                                <span>31&deg;</span>
                            </div>
                            <div class="col1">
                                <span>Humidity</span>
                                <span>31&deg;</span>
                            </div>
                            <div class="col1 activecol1">
                                <span>Temp.</span>
                                <span></span>
                                <span>31&deg;</span>
                            </div>
                            <div class="col1">
                                <span>Wind</span>
                                <span>31&deg;</span>
                            </div>
                            <div class="col1">
                                <span>Visibility</span>
                                <span>31&deg;</span>
                            </div>

                        </div>
                    </div>

                </div>
            </li>
            <li>
                <div class="card">
                    <img class="card-img-top" src="img/London_Eye_Ferris_Wheel_UK_Travel_4K_Wallpapers.jpg"
                        alt="Card image">
                    <div class="card-img-overlay"><span class="temp">21&deg;</span><br><span class="city">LONDON</span>
                    </div>

                    <div class="card-body">
                        <div class="row1">
                            <div class="col1">
                                <span>Rain</span>
                                <span>31&deg;</span>
                            </div>
                            <div class="col1">
                                <span>Humidity</span>
                                <span>31&deg;</span>
                            </div>
                            <div class="col1 activecol1">
                                <span>Temp.</span>
                                <span></span>
                                <span>31&deg;</span>
                            </div>
                            <div class="col1">
                                <span>Wind</span>
                                <span>31&deg;</span>
                            </div>
                            <div class="col1">
                                <span>Visibility</span>
                                <span>31&deg;</span>
                            </div>

                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="card">
                    <img class="card-img-top" src="img/Tourist_Place_Burj_Khalifa_in_Dubai.jpg" alt="Card image">
                    <div class="card-img-overlay"><span class="temp">21&deg;</span><br><span class="city">DUBAI</span>
                    </div>
                    <div class="card-body">
                        <div class="row1">
                            <div class="col1">
                                <span>Rain</span>
                                <span>31&deg;</span>
                            </div>
                            <div class="col1">
                                <span>Humidity</span>
                                <span>31&deg;</span>
                            </div>
                            <div class="col1 activecol1">
                                <span>Temp.</span>
                                <span></span>
                                <span>31&deg;</span>
                            </div>
                            <div class="col1">
                                <span>Wind</span>
                                <span>31&deg;</span>
                            </div>
                            <div class="col1">
                                <span>Visibility</span>
                                <span>31&deg;</span>
                            </div>

                        </div>
                    </div>

                </div>
            </li>
            <li>
                <div class="card">
                    <img class="card-img-top" src="img/Cologne_Cathedral_in_City_Cologne_of_Germany_Wallpaper.jpg"
                        alt="Card image">
                    <div class="card-img-overlay"><span class="temp">21&deg;</span><br><span class="city">BERLIN</span>
                    </div>

                    <div class="card-body">
                        <div class="row1">
                            <div class="col1">
                                <span>Rain</span>
                                <span>31&deg;</span>
                            </div>
                            <div class="col1">
                                <span>Humidity</span>
                                <span>31&deg;</span>
                            </div>
                            <div class="col1 activecol1">
                                <span>Temp.</span>
                                <span></span>
                                <span>31&deg;</span>
                            </div>
                            <div class="col1">
                                <span>Wind</span>
                                <span>31&deg;</span>
                            </div>
                            <div class="col1">
                                <span>Visibility</span>
                                <span>31&deg;</span>
                            </div>

                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="card">
                    <img class="card-img-top" src="img/Sydney_Opera_House_in_Sydney_Australia_4K_Wallpaper.jpg"
                        alt="Card image">
                    <div class="card-img-overlay"><span class="temp">21&deg;</span><br><span class="city">SYDNEY</span>
                    </div>
                    <div class="card-body">
                        <div class="row1">
                            <div class="col1">
                                <span>Rain</span>
                                <span>31&deg;</span>
                            </div>
                            <div class="col1">
                                <span>Humidity</span>
                                <span>31&deg;</span>
                            </div>
                            <div class="col1 activecol1">
                                <span>Temp.</span>
                                <span></span>
                                <span>31&deg;</span>
                            </div>
                            <div class="col1">
                                <span>Wind</span>
                                <span>31&deg;</span>
                            </div>
                            <div class="col1">
                                <span>Visibility</span>
                                <span>31&deg;</span>
                            </div>

                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="card">
                    <img class="card-img-top" src="img/Beautiful_Tomb_of_Humayun_in_Delhi_India_Wallpapers.jpg"
                        alt="Card image">
                    <div class="card-img-overlay"><span class="temp">21&deg;</span><br><span class="city">DELHI</span>
                    </div>
                    <div class="card-body">
                        <div class="row1">
                            <div class="col1">
                                <span>Rain</span>
                                <span>31&deg;</span>
                            </div>
                            <div class="col1">
                                <span>Humidity</span>
                                <span>31&deg;</span>
                            </div>
                            <div class="col1 activecol1">
                                <span>Temp.</span>
                                <span></span>
                                <span>31&deg;</span>
                            </div>
                            <div class="col1">
                                <span>Wind</span>
                                <span>31&deg;</span>
                            </div>
                            <div class="col1">
                                <span>Visibility</span>
                                <span>31&deg;</span>
                            </div>

                        </div>
                    </div>

                </div>
            </li>
            <li>
                <div class="card">
                    <img class="card-img-top" src="img/Times_Square_New_York_City_United_States_HD_Wallpaper.jpg"
                        alt="Card image">
                    <div class="card-img-overlay"><span class="temp">21&deg;</span><br><span class="city">NEW
                            YORK</span></div>

                    <div class="card-body">
                        <div class="row1">
                            <div class="col1">
                                <span>Rain</span>
                                <span>31&deg;</span>
                            </div>
                            <div class="col1">
                                <span>Humidity</span>
                                <span>31&deg;</span>
                            </div>
                            <div class="col1 activecol1">
                                <span>Temp.</span>
                                <span></span>
                                <span>31&deg;</span>
                            </div>
                            <div class="col1">
                                <span>Wind</span>
                                <span>31&deg;</span>
                            </div>
                            <div class="col1">
                                <span>Visibility</span>
                                <span>31&deg;</span>
                            </div>

                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="card">
                    <img class="card-img-top" src="img/Bridge_in_Shanghai_City_Photo.jpg" alt="Card image">
                    <div class="card-img-overlay"><span class="temp">21&deg;</span><br><span class="city">SHANGAI</span>
                    </div>
                    <div class="card-body">
                        <div class="row1">
                            <div class="col1">
                                <span>Rain</span>
                                <span>31&deg;</span>
                            </div>
                            <div class="col1">
                                <span>Humidity</span>
                                <span>31&deg;</span>
                            </div>
                            <div class="col1 activecol1">
                                <span>Temp.</span>
                                <span></span>
                                <span>31&deg;</span>
                            </div>
                            <div class="col1">
                                <span>Wind</span>
                                <span>31&deg;</span>
                            </div>
                            <div class="col1">
                                <span>Visibility</span>
                                <span>31&deg;</span>
                            </div>

                        </div>
                    </div>

                </div>
            </li>
        </ul>
    </article>

    <footer>
        <div class="footer-rest">
            <div class="footer-icons">
                <button type="button"  class="btn fa fa-envelope email-button" >
                </button>

                <button type="button"  class="btn fa fa-phone phone-button" >

                </button>
            </div>

            <div class="footer-menu">
                <a href="/">HOME</a>|
                <a href="/">ABOUT</a>|
                <a href="/">HELP</a>

            </div>
        </div>
        <div class="footer-foot">
            <span class="footer-major-text">jine mera dil luteeya </span>
            <span class="footer-minor-text">ohohohohohohohohohohohohohohoiosdadasdsa</span>
        </div>

    </footer>
       <script src="js/app.js"></script>
    <script>
        $(document).ready(function () {
            console.log(8.8 - 8.7);
            $('.form-control').focus(function () {
                $('.input-group-prepend').css({
                    'background': 'white'
                })
                $('.input-group-prepend > span').css('color', '#1acbf3');
                $("html, body").animate({
                    scrollTop: 0
                }, 400);
            })
            $('.form-control').focusout(function () {
                $('.input-group-prepend').css({
                    'background': 'transparent'
                })
                $('.input-group-prepend > span').css('color', 'white');
            })


            $(".slider").jasCarousel({

                // or 'vertical'
                mode: 'horizontal',

                // transition delay

                // autoplay
                auto: false,

                // autoplay direction
                autoDirection: 'next',

                // navigation options

                // margin in pixels
                margin: 0,

                // custom perspective
                perspective: 1100,

                // slide front face?
                slideFrontFace: true,

                // move on slide click?
                moveOnSlideClick: true,

                // animation speed
                speed: 1000
            });
            var elem = document.querySelector('.jas-control');
            elem.parentNode.removeChild(elem);
            $('.button2').click(function () {
                $("html, body").animate({
                    scrollTop: 1540
                }, 800);

            })
        });
    </script>


</body>

</html>
<!--press Shift + Alt + f  to beautify-->