<div class="navbar">
    <div class="nav-item">
        <a href="/">Home</a>
    </div>
    <div class="nav-item">
        <a href="/about">About</a>
    </div>
    <div class="nav-item">
        <a href="/help">Help</a>
    </div>
</div>